# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.metadata/.DS_Store
Cw4.1_func/.DS_Store
Cw4_ArithmeticsOperators/.DS_Store
Cw4_func/.DS_Store
Cw5_FunctuinIn/.DS_Store
Cw5_functionOut/.DS_Store
Cw6_CompareOpers/.DS_Store
Cw6_LogicOpers/.DS_Store
Cw6_ternaryOp/.DS_Store
Cw7_ConditionOpers_If_ifElse/.DS_Store
Cw7_switch_case/.DS_Store
Cw8_Elseif/.DS_Store
Hw4_checking/.DS_Store
Hw4_checking2/.DS_Store
Hw7_IfCondirionOpers_if_Else/.DS_Store
Hw8_else_if_case/.DS_Store
HwFunctionIn/.DS_Store
HwFunctionOut/.DS_Store
Lesson2/.DS_Store
Lesson2Test/.DS_Store
TernarHW_6/.DS_Store
hw7_ConditionOper/.DS_Store
myFirstProject/.DS_Store
test/.DS_Store
.DS_Store
